@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>Welcome Raja!</h2>
    <h5>To my Okta Azure DevOps Demo</h5>
    <p>Here is my <a href="https://github.com/bennettcomfort">GitHub Profile</a>.</p>
    <p>Here is my <a href="https://www.linkedin.com/in/bennettcomfort/">Linkedin Profile</a>.</p>
</div>
