@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my OKLA Azure Demo</h1>
    <p>Here is my <a href="https://github.com/bennettcomfort">GitHub Profile</a>.</p>
    <p>Here is my <a href="https://www.linkedin.com/in/bennettcomfort/">Linkedin Profile</a>.</p>
</div>
